<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>Responsive Contact us form Using HTML and CSS</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="form.css">
</head>
<body>
  <header>
    
      <div class="overlay">
        <h1>TERRA & TECH Pvt. Ltd.</h1>
      </div>
      
  </header>
<div class="robot">
<div class="wrapper">
  <div class="title">
    <h1>Form</h1>
  </div>
  <div class="contact-form">
    <div class="input-fields">
      <input type="text" class="input" placeholder="Name">
      <input type="text" class="input" placeholder="Phone">
      <input type="number" class="input" placeholder="Budget">
      <input type="number" class="input" placeholder="Years(expected to repay)"> 
    </div>
    <div class="input-fields">
      
      <input type="text" class="input" placeholder="Interest rate(expecting)">
      <input type="text" class="input" placeholder="Amount of down paymnet">
      <div class="btn">Predict</div>
    </div>
  </div>
  
</div>
</div>
<div class="footer">
  <div class="footer-content">
    <div class="footer-section about">
      <h2 class="logo-text"><span>Terra</span>&<span>Tech</span></h2>
      <h3>We calculate risk factors and predit <br> which property will be better to buy <br> in future and present</h3>
    </div>
    <div class="footer-section links"></div>
    <div class="footer-section social">
      <h2>Connect Us </h2>
      <div class="socials">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-envelope"></i></a>
      </div>
    </div>
    
  </div>
  <div class="footer-bottom">
    &copy; Terra & Tech | Designed By The Bitbiters
  </div>
</div>
</body>
</html>